# Data description
Ich möchte eine Vorhersage zum "price actual", also die Kosten für Strom in Euro pro MegaWattstunde treffen.
Untersuchte Stadt ist Valencia, Spanien.

Informationen zur Kolumnen:
"timestamp" zeigt Datum und Uhrzeit.    
"temperature" ist die Temperatur in Kelvin.  
"humidity" ist die Luftfeuchtigkeit in %.  
"wind_speed" ist die Windgeschwiendigkeit in m/s.  
"clouds_coverage" beschreibt in wie viel prozent ist der Himmel mit Wolken bedeckt.  
"weather clear/cloudy/rain" ist die kategorische Beschreibung der Wetter.  
"generation solar" und "wind onshore" sind die Stromerzeugung in MW angezeigt.   
"total load actual" ist die tatsächliche Nachfrage nach Strom. In der Quelle wird es nicht erklärt, ich nehme an es ist auch in MW gemeint.  
"price actual" ist die Europreis für Megawatt pro Stunde.

In [14]:
import pandas
import os
import matplotlib.pyplot as plt

valencia_data = pandas.read_csv(os.path.join("weather_energy_join_1.csv"))
valencia_data.drop(["city_name"], axis=1, inplace=True)
valencia_data.head(5)

,timestamp,temperature,humidity,wind_speed,clouds_coverage,weather_clear,weather_cloudy,weather_rain,generation_solar,generation_wind_onshore,total_energy_demand,price
0,01/01/2015 00:00,270.475,77,1,0,1,0,0,49,6378,25385,65.41
1,01/01/2015 01:00,270.475,77,1,0,1,0,0,50,5890,24382,64.92
2,01/01/2015 02:00,269.686,78,0,0,1,0,0,50,5461,22734,64.48
3,01/01/2015 03:00,269.686,78,0,0,1,0,0,50,5238,21286,59.32
4,01/01/2015 04:00,269.686,78,0,0,1,0,0,42,4935,20264,56.04

# Statistische Informationen

In [12]:
valencia_data.describe().map('{:,.2f}'.format)

,temperature,humidity,wind_speed,clouds_coverage,weather_clear,weather_cloudy,weather_rain,generation_solar,generation_wind_onshore,total_energy_demand,price
count,"35,060.00","35,060.00","35,060.00","35,060.00","35,060.00","35,060.00","35,060.00","35,060.00","35,060.00","35,060.00","35,060.00"
mean,290.78,65.09,2.69,20.74,0.44,0.49,0.05,"1,432.09","5,461.70","28,668.48",57.88
std,7.23,19.68,2.58,25.60,0.50,0.50,0.22,"1,680.03","3,215.32","4,663.40",14.20
min,268.83,8.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,9.33
25%,285.15,51.00,1.00,0.00,0.00,0.00,0.00,70.00,"2,930.75","24,800.00",49.34
50%,290.19,67.00,2.00,20.00,0.00,0.00,0.00,615.50,"4,847.00","28,895.50",58.02
75%,296.15,82.00,4.00,20.00,1.00,1.00,0.00,"2,576.00","7,397.00","32,187.00",68.01
max,311.15,100.00,133.00,100.00,1.00,1.00,1.00,"5,792.00","17,436.00","41,015.00",116.80

# Grafik
Was ich denke eine Nebenerfindung bei diesen Daten zu erfinden ist, ist die Entwicklung des Preis im Laufe der Zeit. Dazu wähle ich ein einfaches Liniendiagramm. Da aber sehr viele Daten vorhanden sind, ist es alles ganz nah zu sich und gibt einen guten Überblick über die Entwicklung.

In [15]:
df = pandas.DataFrame(valencia_data)

df['timestamp'] = pandas.to_datetime(df['timestamp'], format='%d/%m/%Y %H:%M')

plt.figure(figsize=(10, 6))
plt.plot(df['timestamp'], df['price'], marker='o', color='blue')

plt.title("Entwicklung der Strompreises", fontsize=14)
plt.xlabel("Zeit", fontsize=12)
plt.ylabel("Strompreis in Euro ", fontsize=12)

plt.xticks(rotation=45)

plt.show()

AttributeError: module 'matplotlib' has no attribute 'figure'

# Skalierung
Ich bin der Meinung, dass alle 5 fünf Kolumne ausser "humidity" skaliert werden müssen.

In [6]:
df = pandas.DataFrame(valencia_data)

columns_to_scale = ['temperature','generation_solar', 'generation_wind_onshore', 'total_energy_demand', 'price']

for column in columns_to_scale:
    column_min = df[column].min()
    column_max = df[column].max()
    df[column] = (df[column] - column_min) / (column_max - column_min) 

print(df)

              timestamp city_name  temperature  humidity  wind_speed  \
0      01/01/2015 00:00  Valencia     0.038856        77           1
1      01/01/2015 01:00  Valencia     0.038856        77           1
2      01/01/2015 02:00  Valencia     0.020212        78           0
3      01/01/2015 03:00  Valencia     0.020212        78           0
4      01/01/2015 04:00  Valencia     0.020212        78           0
...                 ...       ...          ...       ...         ...
35055  31/12/2018 19:00  Valencia     0.397202        62           2
35056  31/12/2018 20:00  Valencia     0.338128        71           1
35057  31/12/2018 21:00  Valencia     0.303156        81           3
35058  31/12/2018 22:00  Valencia     0.267238        81           2
35059  31/12/2018 23:00  Valencia     0.243608        75           2

       clouds_coverage  weather_clear  weather_cloudy  weather_rain  \
0                    0              1               0             0
1                    0              1               0             0
2                    0              1               0             0
3                    0              1               0             0
4                    0              1               0             0
...                ...            ...             ...           ...
35055                0              1               0             0
35056                0              1               0             0
35057                0              1               0             0
35058                0              1               0             0
35059                0              1               0             0

       generation_solar  generation_wind_onshore  total_energy_demand  \
0              0.008460                 0.365795             0.618920
1              0.008633                 0.337807             0.594465
2              0.008633                 0.313203             0.554285
3              0.008633                 0.300413             0.518981
4              0.007251                 0.283035             0.494063
...                 ...                      ...                  ...
35055          0.014675                 0.178539             0.747361
35056          0.005698                 0.188575             0.724979
35057          0.005352                 0.200906             0.684408
35058          0.005352                 0.205666             0.629063
35059          0.005352                 0.209394             0.596245

          price
0      0.521820
1      0.517261
2      0.513166
3      0.465153
4      0.434633
...         ...
35055  0.629850
35056  0.621848
35057  0.604541
35058  0.563506
35059  0.563413

[35060 rows x 13 columns]