# Data description
Ich möchte eine Vorhersage zum "price actual", also die Kosten für Strom in Euro pro MegaWattstunde treffen.
Untersuchte Stadt ist Valencia, Spanien.

Informationen zur Kolumnen:
"timestamp" zeigt Datum und Uhrzeit.    
"temperature" ist die Temperatur in Kelvin.  
"humidity" ist die Luftfeuchtigkeit in %.  
"wind_speed" ist die Windgeschwiendigkeit in m/s.  
"clouds_coverage" beschreibt in wie viel prozent ist der Himmel mit Wolken bedeckt.  
"weather clear/cloudy/rain" ist die kategorische Beschreibung der Wetter.  
"generation solar" und "wind onshore" sind die Stromerzeugung in MW angezeigt.   
"total load actual" ist die tatsächliche Nachfrage nach Strom. In der Quelle wird es nicht erklärt, ich nehme an es ist auch in MW gemeint.  
"price actual" ist die Preis für Megawatt pro Stunde.

In [30]:
import pandas
import os

valencia_data = pandas.read_csv(os.path.join("weather_energy_join_1.csv"))

In [33]:
valencia_data.head(5)

,timestamp,temperature,humidity,wind_speed,clouds_coverage,weather_clear,weather_cloudy,weather_rain,generation_solar,generation_wind_onshore,total_energy_demand,price
0,01/01/2015 00:00,270.475,77,1,0,1,0,0,49,6378,25385,65.41
1,01/01/2015 01:00,270.475,77,1,0,1,0,0,50,5890,24382,64.92
2,01/01/2015 02:00,269.686,78,0,0,1,0,0,50,5461,22734,64.48
3,01/01/2015 03:00,269.686,78,0,0,1,0,0,50,5238,21286,59.32
4,01/01/2015 04:00,269.686,78,0,0,1,0,0,42,4935,20264,56.04

# Statistische Informationen

In [25]:
valencia_energy_data.describe().map('{:,.2f}'.format)

,temperature,humidity,wind_speed,clouds_coverage,weather_clear,weather_cloudy,weather_rain,generation_solar,generation_wind_onshore,total_energy_demand,price
count,"35,060.00","35,060.00","35,060.00","35,060.00","35,060.00","35,060.00","35,060.00","35,060.00","35,060.00","35,060.00","35,060.00"
mean,290.78,65.09,2.69,20.74,0.44,0.49,0.05,"1,432.09","5,461.70","28,668.48",57.88
std,7.23,19.68,2.58,25.60,0.50,0.50,0.22,"1,680.03","3,215.32","4,663.40",14.20
min,268.83,8.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,9.33
25%,285.15,51.00,1.00,0.00,0.00,0.00,0.00,70.00,"2,930.75","24,800.00",49.34
50%,290.19,67.00,2.00,20.00,0.00,0.00,0.00,615.50,"4,847.00","28,895.50",58.02
75%,296.15,82.00,4.00,20.00,1.00,1.00,0.00,"2,576.00","7,397.00","32,187.00",68.01
max,311.15,100.00,133.00,100.00,1.00,1.00,1.00,"5,792.00","17,436.00","41,015.00",116.80

In [19]:
temperatureModeInCelcius = valencia_data["temp"].mode() -273.15
print(f"The most common temperature in Valencia was {temperatureModeInCelcius[0]} Celcius.")

The most common temperature in Valencia was 16.0 Celcius.

# Grafik

# Skalierung